body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(129, 127, 127);
}

.container {
    border: solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-container {
    border: solid gray;
    text-align: center;
    width: 500px;
    padding: 20px;
}

.todo-container {
    border: solid green;
    width: 500px;
    padding: 20px;
}

img {
    width: 200px;
    height: 200px;
}